
/* reset body to defualt */
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
    color: white;
}

body {
    font-family: 'Coolvetica', sans-serif;
    height: 100%;
    background-color: black;    
}

.close-button {
    display:none;
}

.button-container {
    display: none;
}

.menu-title {
    display: none;
}



/* Navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2vh 1vw; 
    top: 0;
    z-index: 1000;
}


header h1{
    position: absolute;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem; 
}




/* Navigation list */
.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.nav_list ul {
    display: flex;
    list-style: none;
}


.nav_list a {
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    transition: outline 0.3s ease-in-out;
    font-size: 2.5rem;
    width: 100%;
}

.active-page {
    color: red;
}

.nav_list a:hover {
    outline: 0.3rem solid white;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    font-size: 3rem;
    margin-top: 5rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;

}

h2 {
    font-size: 5rem; 
    margin: 0; 
}



form {
    width: 25rem;
    margin: 0 auto;
    border-radius: 20px;
    background-color: black;
    color: black;
}

input[type="text"],
input[type="email"],

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    font-family: coolvetica;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button span {
    color:white;
}

.pageclip-form__success {
    font-size: 4rem;
    font-weight: 900;
    background-color: black;
}

button:hover {
    outline: 1px solid white;
}
label {
    font-size: 1.5rem;
    color: white;
}


span, .logo span {
    color: red;
}

footer {
    
    width: 100%;
    margin-top: 20vh;
}
.footer{
    
    text-align: center;
}
.footer button{
    font-size: 1vw;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #474747;
    color: #fff;
    cursor: pointer;
}

.footer-socials {
    font-size: 2vw;
}





/* Mobile view */
@media screen and (max-width: 770px) {


    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;   
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 1vw;
    }

    .close-button {
        display:block;
    }
    
    .button-container {
        display: block;
    }

    .logo {
        font-size: 3vw;
    }

    .nav_list a {
        padding: 10px 20px 10px 20px;
        margin: 0 1.5vw;
        border-radius: 15px;
        transition: outline 0.3s ease-in-out;
    }

    .nav_list a:hover {
        outline: 3px solid white;
    }

    h2 {
        font-size: 5rem;
        margin: 0;
    }

    .content h2 {
        font-size: 3rem;
        margin-top: 1rem;
    }



    .menu-title {
        font-size: 5rem;
        width: 50%;
        outline: none;
        padding: 0;  
        margin-left: 5vw;
        display: block;
        color: white;
    }

    form{
        width: 80%;
    }

    footer{
        margin-top: 5rem;
    }
    .footer button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .footer-socials {
        font-size: 2rem;
    }
}

