/* by default mobile html should not be displayed */
.mobile, .close-button {
    display: none;
}

/* reset body to defualt */
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
    color: white;
}

body {
    font-family: 'Coolvetica', sans-serif;
    height: 100%;
    background-color: black;    
}

span {
    color: red;
}


/* Navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1rem 1vw; 
    top: 0;
    z-index: 1000;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav_list ul {
    display: flex;
    list-style: none;
    font-size: 2rem;
}

.nav_list a {
    padding: 1rem 2rem; 
    margin: 0 1.5rem; 
    border-radius: 15px;
    transition: outline 0.3s ease-in-out;
}

.active-page {
    color: red;
}

.nav_list a:hover {
    outline: 0.3rem solid white;
}



/* Logo upper left */
.logo {
    font-size: 3rem;  
}

.button-container {
    display: none;
}

/* Header */
header {
    justify-content: center; 
}

h2 {
    font-size: 5rem; 
    margin: 0; 
    grid-column: 1/3;
}

canvas {
    position: relative;
    height: auto;
    right: 5vw;
    z-index: -1;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.webgl {
    max-width: 100%;
    height: auto;
}

/* carousel */
.swiper {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90rem;
    height: 40rem;
    position: relative;
    outline: white 0.3rem solid;
    border-radius: 2.5rem;
}


.swiper-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.swiper-slide h1 {
    position: relative;
    top: 15%;
    left: 5%;
    font-size: 3rem;
    color: white;
    z-index: 2;
}   

.swiper-slide p {
    position: relative;
    top: 2rem;
    left: 5%;
    width: 40rem;
    font-size: 1.1rem;
    color: white;
    z-index: 2;
}


.swiper-slide .button {
    position: relative; /* Position the button absolutely within the container */
    /* bottom: 20px;  */
    top: 3rem;
    left: 5%; /* Align the button to the left */
    display: inline-block;
    background-color: red; /* Blue color, you can change it */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.swiper-slide img {
    width: 40rem;
    height: auto;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    object-fit: cover;
}

.swiper-slide canvas {
    width: 40rem;
    height: auto;
    position: absolute;
    right: 5%;
    top: -10rem;
}

.swiper-pagination-bullet {
    padding: 1rem 1.5rem;
    border-radius: 2rem !important;
    width: auto !important;
    height: auto !important;
    font-size: 1rem;
    color: white;
    opacity: 1 !important;
    background: rgba(0,0,0,0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: red !important;
}

footer {
    width: 100%;
    margin-top: 20rem;
}

.footer {
    text-align: center;
}

.footer button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #474747;
    color: #fff;
    cursor: pointer;
}

.footer-socials {
    font-size: 2rem;
}

/* Mobile view */
@media screen and (max-width: 770px) {
    /* Reset body to default */
    body * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;    
        color: white;
    }
    
    body {
        font-family: 'Coolvetica', sans-serif;
        height: 100%;
        background-color: black;    
    }

    span {
        color: red;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Mobile menu */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        display: none; /* Initially hide the overlay */
        transition: background-color 0.3s ease, opacity 0.3s ease; /* Add transition */
        align-content: center;
    }
    
    .overlay.active {
        display: block; /* Show the overlay when active */
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
    }

    
    .Menu-Dropdown {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-family: coolvetica;
    }
    
    .Menu-Dropdown:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s ease-in-out;
    }

    .close-button {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .close-button:hover {
        color: red;
    }
    
    nav {
        display: relative;
        flex-direction: row;
        align-items: center;
        background-color: black;
        padding: 2rem 1vw; 
        z-index: 1000;
        height: 2rem;
        margin-top: 0.5rem;
    }a
    
    .nav_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .nav_list ul {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column; /* Set flex-direction to column */
        align-items: center; /* Center items horizontally */
    }

    
    .nav_list ul li {
        margin-bottom: 1rem;
        margin-top: 1rem; /* Add margin at the top */
    }
    
    
    .nav_list a {
        display: block;
        padding: 1rem 0.8rem;
        font-size: 1.5rem;
        transition: all 0.3s ease;
    }

    .nav_list.active-page {
        color: red;
    }

    .nav_list a:hover {
        color: red;
    }
    
    /* Logo upper left */
    .logo {
        font-size: 2rem;
    }
    
    /* Header */
    header {
        justify-content: center; 
        text-align: center;
    }
    
    /* Carousel */
    .swiper-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -8rem;
    }
    
    .swiper {
        width: 90%;
        height: 30rem;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide h1 {
        font-size: 2rem;
        top: 2rem;
    }   

    .swiper-slide p {
        font-size: 1rem;
        width: 80%;
    }

    .swiper-slide .button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .swiper-slide img,
    .swiper-slide canvas {
        display: none;
    }

    .footer button {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .footer-socials {
        font-size: 2rem;
    }
}
