body {
    font-family: 'Coolvetica', sans-serif;
    height: 100%;
    background-color: black;
    color: white;
}
@media screen and (min-width: 1023px){
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }



    /* reset body to defualt */
    body * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none; 
        color: white;
    }





    /* Navigation bar */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        padding: 2vh 1vw; 
        top: 0;
        z-index: 1000;
    }

    /* Navigation list */
    .nav_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    /* Navigation list items */
    .nav_list ul {
        display: flex;
        list-style: none;
        justify-content: center;
        flex-grow: 1; 
        font-size: 2vw;
    }

    /* Navigation list items */
    .nav_list li {
            margin: 0 1.5vw; 
        
    }

    /* Navigation list links */
    .nav_list a {
        padding: 10px 20px 10px 20px; 
        border-radius: 15px;
        transition: outline 0.3s ease-in-out;
        
    }

    /* Navigation active page */
    .active-page{
        color: red;
    }

    /* Navigation item hover */
    .nav_list a:hover {
        outline: 3px solid white;
    }


    /* Logo upper left */
    .logo {
        font-size: 3vw;  
    }



    /* Header */
    header {
        display: flex;
        flex-direction: column;
        align-items: center; 
        align-content: center;
        text-align: left;
        height: 80vh; /* Set header height to 100% */
        justify-content: center; /* Vertically center content */
    }

    /* Title */
    .titles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; /* Vertically center content */
        height: 100%;
    }

    .titles h1 {
        font-size: 7vw;
        margin: 0; 
        padding: 0px 20px; 
    }


    /*extra styling for h2*/
    .titles h2 {
        font-size: 11vw; 
        font-size: 11vw; 
        padding: 0px 10px 10px 10px;
        outline: 3px solid white;
        border-radius: 20px;
        width: fit-content;
        margin: 0; 
        margin: 10px; 
    }

    /*red dot h2*/
    .titles h2 span, .logo span {
        color: red;
    }

    .scrollDown-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        color: #fff;;
        border-radius: 0 0 5px 5px;
    }
    
    .scrollDown-container button {
        font-size: 1vw;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #474747;
        color: #fff;
        cursor: pointer;
    }
    
    .scrollDown-container button:hover {
        background-color: #333;
    }



    /* carousel */
    .swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 70vh;
        position: relative;
        outline: white 3px solid;
        border-radius: 40px;

        
    }


    .swiper-wrapper {
        position: relative;
        height: 60vh;
        width: 100%;
        
    }

    .swiper-slide{
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        overflow: hidden;
    }

    .swiper-slide h1 {
        position: relative;
        top: 15%;
        left: 5%;

        font-size: 3vw;
        color: white;
        z-index: 2;
    }   

    .swiper-slide p {
        position: relative;
        top: 20%;
        left: 5%;
        width: 40%;
        font-size: 1.1rem;
        color: white;
        z-index: 2;
    }

    .swiper-slide .button {
        font-family: coolvetica;
        position: relative;
        top: 25%;
        left: 5%;
        font-size: 1rem;
        color: white;
        z-index: 2;
        background-color: red;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
    }

    .swiper-slide img {
        width: 40%;
        height: 60%;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(0, -50%);
        object-fit: cover;
    }

    .swiper-slide canvas {
        width: 40%;
        height: 60%;
        position: absolute;
        right: 5%;
        top: -10vh;
    }

        
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: red !important
    }

    footer {
        height: 100%;
        width: 100%;
        margin-top: 20vh;
    }
    .footer{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .footer button{
        font-size: 1vw;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #474747;
        color: #fff;
        cursor: pointer;
    }

    .footer-socials {
        font-size: 2vw;
    }
}


/* smaller Desktop view (tablet) */
@media screen and (max-width: 1023px) and (min-width: 768px){
    .desktop {
        display: block;
    }
    .mobile {
        display: none;

    }

}
/* Mobile view */
@media screen and (max-width: 767px) {
    .desktop, .logo{
        display: none;
    }
    .mobile {
        display: block;
    }

    span{
        color: red;
    }

    header {
        position: relative;
        height: auto;
    }

    h2{
        margin: 0;
    }
    
    .titles {
        margin-left: 5vw;
        margin-top: 10vh;
    }

    .titles h2 {
        font-size: 5rem;
        width: 50vw;
        outline: none;
        padding: 0;        
    }

    .nav_list {
        display: flex;
        position: absolute;
        background-color: black; 
        transform: translate(0px, 1vw);
        margin-left: 5vw;
        
        
    }

     .nav_list ul {
        font-size: 1.5rem;
        list-style: none;  
        padding: 0;  
    } 


    .nav_list a {
        position: relative;
        text-decoration: none;
        color: white;
    }
    
    .nav_list a:hover {
        color: red;
    }

    h1{
        font-size: 1rem;
    }
    footer {
        position: fixed;
        bottom: 5vw;
        width: 100%;
        background-color: black;
        color: white;
        text-align: left;
        padding: 10px 0;
        margin-left: 5vw;
    }

    .footer button{
        font-family: coolvetica;
        font-size: 5vw;
        padding: 0;
        background-color: black;
        border: none;
        color: #fff;
    }

    .footer-socials {
        font-size: 5vw;
        color: white ;
        text-decoration: none;
    }

    .footer-socials a {
        font-size: 7vw;
        color: red;
        padding: 0px 20px 0px 0px;
    }
}

