body {
    font-family: 'Coolvetica', sans-serif;
    height: 100%;
    background-color: black;
    color: white;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}



/* reset body to defualt */
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}






/* Navigation bar */
nav {
    position: absolute;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2vh 1vw;
    top: 0;
    z-index: 1000;
}


/* Navigation list */
.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.nav_list ul {
    display: flex;
    list-style: none;
}


.nav_list a {
    padding: 0.5rem 20px;
    border-radius: 15px;
    transition: outline 0.3s ease-in-out;
    font-size: 2.5rem;
    width: 100%;
}

.active-page {
    color: red;
}

.nav_list a:hover {
    outline: 0.3rem solid white;
}

/* Logo upper left */
.logo {
    margin: 1vw;
    font-size: 4rem;
    text-align: left;
}

header h1{
    position: absolute;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Title */
.titles {
    margin-top: 22vh;
    margin-bottom: 22vh;
    display: grid;
    align-items: center;
    justify-content: center; /* Vertically center content */

}

.titles h1 {
    font-size: 7vw;
    margin: 0;
    padding: 0px 20px;
}



/*extra styling for h2*/
.titles h2 {
    font-size: 11vw;
    font-size: 11vw;
    padding: 0px 10px 10px 10px;
    outline: 3px solid white;
    border-radius: 20px;
    width: fit-content;
    margin: 0;
    margin: 10px;
}

/*red dot h2*/
.titles h2 span, .logo span {
    color: red;
}

.scrollDown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    color: #fff;;
    border-radius: 0 0 5px 5px;
}

.scrollDown-container button {
    font-size: 1vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #474747;
    color: #fff;
    cursor: pointer;
}

.scrollDown-container button:hover {
    background-color: #333;
}



/* carousel */
.swiper {
    margin-top: 0vh;
    width: 80%;
    height: 70vh;
    position: relative;
    outline: white 0.3rem solid;
    border-radius: 2.5rem;
}

.swiper-slide {
    align-content: center;
    justify-content: center;
}


.swiper-slide h1,
.swiper-slide p,
.swiper-slide .button {
    display: flex;
    text-align: left;
    left: 5%;
    width: 40%;
    position: relative;
    color: #fff;
}

.swiper-slide h1 {
    font-size: 3em;
}

.swiper-slide p {
    font-size: 1em;
}

.swiper-slide .button {
    font-size: 1.5em;
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 9.2rem;
    margin-top: 10px;
}

.swiper-slide img {
    width: 40%;
    height: auto;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    object-fit: cover;
}

.swiper-slide canvas {
    position: absolute;
    right: 2%;
    top: 18%
}

canvas {
    width: 50% !important;
    height: 90% !important;

}



.swiper-pagination-bullet {
    padding: 15px 5px 15px 5px;
    border-radius: 20px !important;
    width: 50px !important;
    height: auto !important;
    font-size: 1em;
    color:white;
    opacity: 1 !important;
    background: rgba(0,0,0,0.2);
}



.swiper-pagination-bullet-active {
    color:#fff;
    background: red !important;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 10vh;
    text-align: center;
}


.footer-socials {
    font-size: 3em;
}





/* smaller Desktop view (tablet) */
@media (max-width: 1250px) {/* smaller Desktop view (tablet) */

    nav {
        left: 35%;
        padding: 2vh 1vw;

    }
    .nav_list a {
        font-size: 3vw;
        padding: 0.5rem 1rem;
    }

    .webgl {
        width: 40vw !important;
        height: 40vh !important;
    }



    .swiper-slide {
        display: flex !important;
        flex-direction: column !important;
        align-content: center;
    }


    .swiper-slide h1,
    .swiper-slide p,
    .swiper-slide a{
        top: 5vh;
        text-align: left;

    }

    .swiper-slide h1 {
        font-size: 3em;
        width: 50%;

    }

    .swiper-slide p {
        font-size: 1em;
        width: 50%;
    }

    .swiper-slide .button {
        font-size: 1em;
        width: 7rem;
        margin-top: 10px;
    }

    .swiper-slide img {
        display: none;


    }

    .swiper-slide canvas {
        width: 40% !important;
    }
}

@media screen and (max-width: 767px) {
    .desktop, .logo{
        display: none;
    }



    .titles {
        position: absolute;
        margin-bottom: 0;
        margin-top: 15vh;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 3vw;
    }

    .titles h1, .titles h2 {
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        outline: none;


    }
    /* Navigation bar */
    nav {
        position: absolute;
        left: 3vw;
        top: 40vh;
        background-color: rgb(0, 0, 0, 0) ;
        padding: 0;
        z-index: 1000;


    }


    .nav_list ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        position: relative;
    }


    .nav_list a {
        padding: 0;
        border-radius: 15px;
        transition: outline 0.3s ease-in-out;
        font-size: 2.5rem;
        width: 100%;
    }




    /* Navigation list */
    .nav_list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .nav_list ul {
        display: flex;
        list-style: none;
    }

    .nav_list a {
        padding: 0.5rem 1.5rem;
        border-radius: 15px;
        transition: outline 0.3s ease-in-out;
        font-size: 2.5rem;
        width: 100%;
    }

    .active-page {
        color: red;
    }

    .nav_list a:hover {
        outline: 0.3rem solid white;
    }

    /* Logo upper left */
    .logo {
        font-size: 4rem;
        text-align: left;
    }


    .swiper {
        display:none !important;
    }

    .scrollDown-container {
        display: none;
    }



    footer {
        bottom: 10vh;
        position: absolute;
        text-align: left;
    }

    .footer-socials {
        font-size: 2em;
    }

    span{
        color: red;
    }

}

/* Mobile view */
@media screen and (max-width: 480px) {
    .desktop, .logo{
        display: none;
    }



    .titles {
        position: absolute;
        margin-bottom: 0;
        margin-top: 15vh;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 3vw;
    }

    .titles h1, .titles h2 {
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        outline: none;


    }
    /* Navigation bar */
    nav {
        position: absolute;
        left: 3vw;
        top: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, 0) ;
        padding: 0;
        z-index: 1000;

    }

    /* Navigation list */
    .nav_list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

    }

    .nav_list ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }


    .nav_list a {
        padding: 0;
        border-radius: 15px;
        transition: outline 0.3s ease-in-out;
        font-size: 2.5rem;
        width: 100%;
    }



    .swiper {
        display:none !important;
    }

    .scrollDown-container {
        display: none;
    }



    footer {
        display: none;
    }


    span{
        color: red;
    }

}