/* by default mobile html should not be displayed */
.mobile {
    display: none;
}

/* reset body to defualt */
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    color: white;
}



body {
    font-family: 'Coolvetica', sans-serif;
    height: 100%;
    background-color: black;
    color: white;
    
}

/* Navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2vh 1vw; 
    top: 0;
    z-index: 1000;
}

/* Navigation list */
.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Navigation list items */
.nav_list ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-grow: 1; 
    font-size: 2vw;
}

/* Navigation list items */
.nav_list li {
        margin: 0 1.5vw; 
    
}

/* Navigation list links */
.nav_list a {
    padding: 10px 20px 10px 20px; 
    border-radius: 15px;
    transition: outline 0.3s ease-in-out;
    
}

/* Navigation active page */
.active-page{
    color: red;
}

/* Navigation item hover */
.nav_list a:hover {
    outline: 3px solid white;
}


/* Logo upper left */
.logo {
    font-size: 3vw;  
}



/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    text-align: left;
    height: 70vh; /* Set header height to 100% */
    justify-content: center; /* Vertically center content */
}

/* Title */
.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Vertically center content */
    height: 100%;
}

.titles h1 {
    font-size: 7vw;
    margin: 0; 
    padding: 0px 20px; 
}


/*extra styling for h2*/
.titles h2 {
    font-size: 11vw; 
    font-size: 11vw; 
    padding: 20px;
    outline: 3px solid white;
    border-radius: 40px;
    width: fit-content;
    margin: 0; 
    padding: 0px 20px; 
    margin: 0; 
    padding: 0px 20px; 

}

/*red dot h2*/
.titles h2 span, .logo span {
    color: red;
}


/* scrollbutton */
.scrollDown, .scrollDown i {
    position: sticky;
    top: 10%;
    left: 50vw;
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    text-align: inherit;
    appearance: none;
    transition: all 1s ease;
    z-index: 2;
}


.scrollDown:hover,
.scrollDown:hover i {
    color: red;
}



/* carousel */
.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9vh;
    width: 80vw;
    height: 80vh;
    position: relative;
    padding: 10px;
    outline: white 3px solid;
    border-radius: 40px;
    
}

.swiper-wrapper {
    position: relative;
    height: 60vh;
    width: 100%;
    
}

.swiper-slide{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.swiper-slide h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(0, -50%);
    font-size: 3vw;
    color: white;
    z-index: 2;
}   

.swiper-slide p {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 40%;
    transform: translate(0, -50%);
    font-size: 1vw;
    color: white;
    z-index: 2;
}

.swiper-slide button {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    font-size: 1vw;
    color: white;
    z-index: 2;
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.swiper-slide img {
    width: 40%;
    height: 60%;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    object-fit: cover;
}

    
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: red !important
}


/* smaller Desktop view (tablet) */
@media screen and (max-width: 920px){
    body {
        height: 100vh;
        overflow-x: hidden;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .nav_list ul {
        display: flex;
        list-style: none;
        justify-content: center;
        flex-grow: 0; 
        font-size: 2vw;
    }
    .nav_list li {
        margin: 0 2vw; 
    }

    header {
        font-size: 3vh;
        height: auto;
      
        padding-bottom: 10vh; 
        position: relative; 
    }


}


  

/* Mobile view */
@media screen and (max-width: 770px) {
    body {
        height: 100vh;
        overflow-x: hidden; 
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    header {
        font-size: 3vh;
        height: auto;
        padding-top: 15vh; 
        padding-bottom: 10vh; 
        position: relative;
        padding-top: 15vh; 
        padding-bottom: 10vh; 
        position: relative;
    }

    h1 {
        display: none;
    }
    
   

    .titles {
        position: absolute;
        top: 25vh; 
        left: 5%; 
        transform: translate(0%, -50%); 
        top: 25vh; 
        left: 5%; 
        transform: translate(0%, -50%); 
    }

    .titles h2 {
        font-size: 20vw;
        outline: none;
        padding: 0;
        text-align: left; 
        text-align: left; 
    }

    nav{
        top: 70vh;
    }
    .nav_list {
        position: absolute;
        width: 100%; 
        background-color: black; 
        top: 65%; 
        transform: translateY(-50%); 
        width: 100%; 
        background-color: black; 
        top: 65%; 
        transform: translateY(-50%); 
        
    }

    .nav_list ul {
        display: block;
        position: relative;
        list-style: none;
        justify-content: center;
        font-size: 7vw;
        text-align: left;
        
    }

    .nav_list li {
        margin: 0 0px; 
        margin: 0 0px; 
    }

    .nav_list a {
        position: relative;
        transition: none;
        transition: none;
        
        top: -4vh;
    }

    .nav_list a:hover {
        outline: none;
        outline: none;
        color: red;
        transition: left 0.3s ease-in-out;
        transition: left 0.3s ease-in-out;

    }



}

